 .animated{
  animation: transitionIn 0.75s;
}
@keyframes transitionIn{
  from{
    opacity: 0;
    transform: translateY(20px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}
 .row.border{
    border-left:4px solid transparent !important;
  }
  
  .row.border:hover{
    border-left: 4px solid green !important;
  }

  .hover-underline:hover{
    text-decoration: underline;
    font-weight: 500;
  }

  .header{
    border-left: 4px solid red;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 12px;
    background-color: #DADADA;
  }

  .header:hover{
    border-left: 4px solid green;
  }