<div class="animated">
    <h3 class="text-center mt-3"><i class="fas fa-home"></i>&nbsp; Dashboard</h3>
    <hr>
    <section class="pt-1">
        <div class="row container-fluid pt-3">

            <div class="col-lg-3 col-md-3 col-6">
                <div class="card-counter success">
                    <i class="fas fa-money-bill-wave"></i>
                    <span class="count-numbers"><a routerLink="/admin/stats" class="text-white"
                            style="text-decoration: none;">{{todayRevenue|currency:'INR'}}</a></span>
                    <span class="count-name">Today's Revenue : </span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-6">
                <div class="card-counter danger">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="count-numbers"><a routerLink="/admin/stats" class="text-white"
                            style="text-decoration: none;">{{this.todayProductSales}}</a></span>
                    <span class="count-name">Today's Sold Products : </span>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-6">
                <div class="card-counter primary">
                    <i class="fas fa-user-friends"></i>
                    <span class="count-numbers"><a routerLink="/admin/stats" class="text-white"
                            style="text-decoration: none;">{{customerCount}}</a></span>
                    <span class="count-name"> Active Customers : </span>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-6">
                <div class="card-counter info">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <span class="count-numbers"><a routerLink="/admin/stats" class="text-white"
                            style="text-decoration: none;">{{merchantCount}}</a></span>
                    <span class="count-name">Active Merchants : </span>
                </div>
            </div>

        </div>
    </section>
    <br>
    <hr>
    <div class="row container-fluid mt-3">
        <div class="col-lg-6 mt-2">
            <h5 class="text-center pt-3"><i class="fas fa-chart-line"></i> &nbsp;Most Trending Products</h5>
            <table class="table table-responsive table-striped table-hover border mt-3">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let t of trendingProducts;let i=index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{t.productName}}</td>
                        <td>{{t.productBrand}}</td>
                        <td>{{t.productPrice|currency:'INR'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6 mt-2 ">
            <h5 class="text-center pt-3"><i class="fas fa-chart-line"></i> &nbsp;Top Rated Merchants</h5>
            <table class="table table-striped table-hover border mt-3">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let m of topRatedMerchants;let i=index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{m.username}}</td>
                        <td>{{m.phoneNo}}</td>
                        <td>{{m.alternateEmail}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row container-fluid mt-2">
        <div class="col-lg-12 mt-2">
            <h5 class="text-center pt-3"><i class="fas fa-list-ul"></i> &nbsp;Recent Customer Orders</h5>
            <table class="table table-striped table-hover border mt-3">
                <thead>
                    <tr> 
                        <th scope="col">#</th>
                        <th scope="col">Order Id</th>
                        <th scope="col">Customer Username</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Merchant Name</th>
                        <th scope="col">Order Date</th>
                        <th scope="col">Order Amount</th>
                        <th scope="col">Order Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let r of recentOrders;let i=index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{r.orderId}}</td>
                        <td>{{r.customer.username}}</td>
                        <td>{{r.product.productName}}</td>
                        <td>{{r.product.merchant.username}}</td>
                        <td>{{r.orderDate|date:'medium'}}</td>
                        <td>{{r.orderAmount|currency:'INR'}}</td>
                        <td>{{r.orderStatus}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>