.inputField {
    border-top: 2px solid green;
    border-bottom: 2px solid green;
    border-radius: 10px;
    width: 400px;
}
.categoryInput {
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
    font-size: 20px;
    margin-left: 10px;
    padding: 10px;
}
