<div class="toasta" *ngIf="showToastFail">
    <div class="modal-header">
        <p class="lead text-danger font-weight-bold" *ngIf="error"> Error - {{error.header}}</p>
        <button (click)="failToggle()" class="btn btn-transparent">
        <i class="fas fa-times-circle text-danger"></i>
        </button>
    </div>
    <div class="modal-body text-danger font-weight-bold" *ngIf="error">
        <p class="blockquote">{{error.message}}</p>
    </div>
</div>
<div class="toastb" *ngIf="showToastSuccess">
    <div class="modal-header">
        <p class="lead text-success font-weight-bold" *ngIf="success"> Success - {{success.header}}</p>
        <button (click)="successToggle()" class="btn btn-transparent">
            <i class="fas fa-times-circle text-success"></i>
        </button>
    </div>
    <div class="modal-body text-success font-weight-bold" *ngIf="success">
        <p class="blockquote">{{success.message}}</p>
    </div>
</div>
<div>




<nav class="navbar navbar-dark fixed-top flex-md-nowrap p-0 shadow" style="background-color: #76618b;">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/admin" style="background-color: #524361;">
        <i class="fas fa-shopping-cart"></i> &nbsp;Capstore Admin
    </a>
    <ul class="navbar-nav px-3">
        <li class="nav-item">
            <span class="text-white">Admin &nbsp;<i class="fa fa-user" aria-hidden="true"></i></span>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item main">
                        <a class="nav-link" routerLink="/admin">
                            <i class="fas fa-home"></i>&nbsp; Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item main">
                        <a class="nav-link main" data-toggle="collapse" href="#merchantInventory" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fa fa-users" aria-hidden="true"></i>&nbsp; Merchant
                        </a>
                        <span class="collapse" id="merchantInventory">
                            <a class="nav-link main ml-4" routerLink="all-merchant">
                                - View all Merchants
                            </a>
                            <a class="nav-link main ml-4" routerLink="addMerchant">
                                - Add new Merchant
                            </a>
                            <a class="nav-link main ml-4" routerLink="invites">
                                - View Invites
                            </a>
                        </span>
                    </li>
                    <li class="nav-item main">
                        <a class="nav-link main" data-toggle="collapse" href="#customerInventory" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-user-friends"></i>&nbsp; Customers

                        </a>
                        <span class="collapse" id="customerInventory">
                            <a class="nav-link main ml-4" routerLink="viewCustomers">
                                - View all Customers
                            </a>
                            <a class="nav-link main ml-4" routerLink="minOrderValue">

                                - Set Minimum Order Value

                        </a>
                        </span>
                    </li>

                    <li class="nav-item main">
                        <a class="nav-link main" data-toggle="collapse" href="#ordersInventory" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-people-carry"></i>&nbsp; Orders

                        </a>
                        <span class="collapse" id="ordersInventory">
                            <a class="nav-link main ml-4" routerLink="orders">
                                - View all Orders
                            </a>
                        </span>
                    </li>

                    <li class="nav-item main">
                        <a class="nav-link main" data-toggle="collapse" href="#couponInventory" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-gift"></i>&nbsp; Coupons
                        </a>
                        <span class="collapse" id="couponInventory">
                            <a class="nav-link main ml-4" routerLink="adminListcoupon">
                                - View all Coupons
                            </a>
                            <a class="nav-link main ml-4" routerLink="adminAddcoupons">
                                - Add new Coupon
                            </a>
                        </span>
                    </li>
                    <li class="nav-item main">
                        <a class="nav-link main" data-toggle="collapse" routerLink="category" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-tags"></i>&nbsp; Category
                        </a>

                    </li>
                    <li class="nav-item main">
                        <a class="nav-link" routerLink="/admin/feedbacks">
                            <i class="fas fa-comments"></i>&nbsp; Feedbacks
                        </a>
                    </li>
                    <li class="nav-item main">
                        <a class="nav-link" routerLink="/admin/stats">
                            <i class="fas fa-chart-bar"></i>&nbsp; Statistics
                        </a>
                    </li>
                    <li class="nav-item main">
                        <a class="nav-link" routerLink="" (click)="logOut()">
                            <i class="fas fa-sign-out-alt" aria-hidden="true"></i>&nbsp; Log Out
                        </a>
                    </li>
                    <br>
                    <br>
                    <li class="nav-item">
                        <a class="nav-link">
                            <p><i class="fas fa-calendar-alt"></i> &nbsp;{{todaysDate | date}}</p>
                            <p><i class="fas fa-clock"></i> &nbsp;{{todaysDate | date:'h:mm:ss a'}}</p>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>

<div *ngIf="showLoad">
    <app-loading></app-loading>
</div>