<div class="container" style="margin-top: 3%;">
    <h3 style="margin-bottom:1%"> Create a new Coupon<span><img src="./../../../assets/couponIcon.png"  width=50 /></span></h3>
    
    <br>
    <div class="row" *ngIf="value==1">
        <div class="col-lg-1 col-md-1 col-sm-1"><hr style="color: black;"></div>
        <img src="./../../../assets/1Icon.png"  width=50 />
        <div class="col-lg-2 col-md-2 col-sm-2"><hr style="color: black;"></div>
        <img src="./../../../assets/2Icon2.png"  width=50 />
        <div class="col-lg-2 col-md-2 col-sm-2"><hr style="color: black;"></div>
        <img src="./../../../assets/3Icon2.png"  width=50 />
        <div class="col-lg-2 col-md-2 col-sm-2"><hr style="color: black;"></div>
        <img src="./../../../assets/4Icon.png"  width=50 />
        <div class="col-lg-2 col-md-2 col-sm-2"><hr style="color: black;"></div>
    </div>
    <div class="row" *ngIf="value==2">
        <div class="col-lg-1 col-md-1 col-sm-1"><hr style="color: black;"></div>
        <img src="./../../../assets/1Icon3.png"  width=50 />
        <div class="col-lg-2 col-md-2 col-sm-2"><hr style="color: black;"></div>
        <img src="./../../../assets/2Icon.png"  width=50 />
        <div class="col-lg-2 col-md-2 col-sm-2"><hr style="color: black;"></div>
        <img src="./../../../assets/3Icon2.png"  width=50 />
        <div class="col-lg-2 col-md-2 col-sm-2"><hr style="color: black;"></div>
        <img src="./../../../assets/4Icon.png"  width=50 />
        <div class="col-lg-2 col-md-2 col-sm-2"><hr style="color: black;"></div>
    </div>
    <div class="row" *ngIf="value==3">
        <div class="col-lg-1 col-md-1 col-sm-1"><hr style="color: black;"></div>
        <img src="./../../../assets/1Icon3.png"  width=50 />
        <div class="col-lg-2 col-md-2 col-sm-2"><hr style="color: black;"></div>
        <img src="./../../../assets/2Icon2.png"  width=50 />
        <div class="col-lg-2 col-md-2 col-sm-2"><hr style="color: black;"></div>
        <img src="./../../../assets/3Icon.png"  width=50 />
        <div class="col-lg-2 col-md-2 col-sm-2"><hr style="color: black;"></div>
        <img src="./../../../assets/4Icon.png"  width=50 />
        <div class="col-lg-2 col-md-2 col-sm-2"><hr style="color: black;"></div>
    </div>
    <div class="row" *ngIf="value==4">
        <div class="col-lg-1 col-md-1 col-sm-1"><hr style="color: black;"></div>
        <img src="./../../../assets/1Icon3.png"  width=50 />
        <div class="col-lg-2 col-md-2 col-sm-2"><hr style="color: black;"></div>
        <img src="./../../../assets/2Icon2.png"  width=50 />
        <div class="col-lg-2 col-md-2 col-sm-2"><hr style="color: black;"></div>
        <img src="./../../../assets/3Icon2.png"  width=50 />
        <div class="col-lg-2 col-md-2 col-sm-2"><hr style="color: black;"></div>
        <img src="./../../../assets/4Icon2.png"  width=50 />
        <div class="col-lg-2 col-md-2 col-sm-2"><hr style="color: black;"></div>
    </div>
    <div class="row">
        <div style="margin-left: 5%;"><b>Name & Description</b></div>
        <div style="margin-left: 5%;"><b>Min Amount & Discount</b></div>
        <div style="margin-left: 11%;"><b>Schedule</b></div>
        <div style="margin-left: 13%;"><b>Review & Submit</b></div>
    </div>
    <br>
    <form [formGroup]="addCouponForm">
    <div *ngIf="value==1">
        <h5><b>Coupon Name</b><i style="color:dimgray; font-size: 25px;"></i></h5>
        <br>
            <div style="margin-left: 50%;">
                <h5 style="margin-left: 15%;"><b>CouponCode Format</b></h5>
                <br>
                 <h6><b>*</b> CouponCode must be unique. </h6> 
                 <h6><b>*</b> CouponCode must <b>not</b> be complicated. </h6> 
                 <h6><b>*</b> Coupon name that reflect the deal like <b>GET50</b>. </h6> 
            </div>
            <div class="inputField" style="margin-top: -15%;">
                <span><img src="./../../../assets/couponIcon.png"  width=50 /></span>
                <input type="text"  class="categoryInput" formControlName="couponCode" placeholder="Enter Coupon Code"> 
            </div>
            <div *ngIf="submitted && addCouponForm.controls.couponCode.errors">
                <div class="text-danger" *ngIf="addCouponForm.controls.couponCode.errors.required" style="margin-left: 5%;">
                    <small style="margin-left: 5%;margin-top: 1%;">Please Enter the couponCode ..!</small>
                </div>
                <div class="text-danger" *ngIf="addCouponForm.controls.couponCode.errors.minlength" style="margin-left: 5%;">
                    <small style="margin-left: 5%;margin-top: 1%;">Length must be of minimum 3..!</small>
                </div>
                <div class="text-danger" *ngIf="addCouponForm.controls.couponCode.errors.pattern" style="margin-left: 5%;">
                    <small style="margin-left: 5%;margin-top: 1%;">Invalid Pattern!</small>
                </div>
            </div>
            <div class="text-danger" *ngIf="invalidCouponCode">
                <h6 style="margin-left: 5%;margin-top: 1%;">Coupon Code already Exists..</h6>
            </div>
            <div class="inputField">
                <span><img src="./../../../assets/description.png"  width=50 /></span>
                <textarea class="categoryInput" style="width: 350px;" formControlName="couponDesc" placeholder="Enter Coupon Description"></textarea>
            </div>
            <div *ngIf="submitted && addCouponForm.controls.couponDesc.errors">
                <div class="text-danger" *ngIf="addCouponForm.controls.couponDesc.errors.required" style="margin-left: 5%;">
                    <small style="margin-left: 5%;margin-top: 1%;">Please Enter the coupon description..!</small>
                </div>
            </div>
            <button class="btn btn-warning" style="margin-left:65%;width:20%;margin-top:-2%" (click)="proceed2()">Continue to next step</button>
       
    </div>
    <div *ngIf="value==2">
        <h5><b>Discount</b></h5>
        <br>
        <p>
            Enter the discount amount you want to apply on the products in the coupon that you have added in 
            previous step.
        </p>
        <br> 
            <div style="margin-left: 50%;">
                <h5 style="margin-left: 15%;"><b>Discount Format</b></h5>
                <br>
                 <h6><b>*</b> Discount must be less then minimum order amount. </h6> 
                 <h6><b>*</b> Minimum required amount must be <b>greater then zero.</b></h6> 
            </div>
            <div class="inputField" style="margin-top: -10%;">
                <span><img src="./../../../assets/saveMoney.png"  width=50 /></span>
                <input type="number" style="width:300px" class="categoryInput" formControlName="couponAmount" placeholder="Enter Coupon amount"> 
            </div>
            <div *ngIf="submitted && addCouponForm.controls.couponAmount.errors">
                <div class="text-danger" *ngIf="addCouponForm.controls.couponAmount.errors.required" style="margin-left: 5%;">
                    <h6 style="margin-left: 5%;margin-top: 1%;">Please Enter the Coupon Amount ..!</h6>
                </div>
                <div class="text-danger" *ngIf="addCouponForm.controls.couponAmount.errors.min" style="margin-left: 5%;">
                    <h6 style="margin-left: 5%;margin-top: 1%;">Amount must be greater then 0 ..!</h6>
                </div>
            </div>
            <div class="text-danger" *ngIf="invalidDate">
                <h6 style="margin-left: 5%;margin-top: 1%;">Coupon amount must be less than total amount...</h6>
            </div>
            <br>
            <div class="inputField">
                <span><img src="./../../../assets/minimumAmount.png"  width=50 /></span>
                <input type="number" style="width:300px" class="categoryInput" formControlName="minOrderAmount" placeholder="Minimum Order Amount"> 
            </div>
            <div *ngIf="submitted && addCouponForm.controls.minOrderAmount.errors">
                <div class="text-danger" *ngIf="addCouponForm.controls.minOrderAmount.errors.required" style="margin-left: 5%;">
                    <h6 style="margin-left: 5%;margin-top: 1%;">Please Enter the Order Amount ..!</h6>
                </div>
                <div class="text-danger" *ngIf="addCouponForm.controls.minOrderAmount.errors.min" style="margin-left: 5%;">
                    <h6 style="margin-left: 5%;margin-top: 1%;">Min Order Amount must be greater then 0..!</h6>
                </div>
            </div>
            <button class="btn btn-warning" style="margin-left:60%;width:20%;" (click)="proceed3()">Continue to Next Step</button>
    </div>

    <div *ngIf="value==3">
        <h5><b>Schedule</b></h5>
        <br>
        <p>
           Select Duration for your Coupon.
        </p>
        <br>
            <div style="margin-left: 50%;">
                <h5 style="margin-left: 15%;"><b>Schedule Format</b></h5>
                <br>
                 <h6><b>*</b> Start Date must be greater than current date. </h6> 
                 <h6><b>*</b> End Date must be greater than Start Date</h6>
            </div>
            <div class="inputField" style="margin-top: -10%;">
                <span><img src="./../../../assets/datefrom.png"  width=50 />Start Date</span>
                <input type="datetime-local" class="categoryInput" formControlName="couponStartDate" placeholder="Start Date"> 
            </div>
            <div *ngIf="submitted && addCouponForm.controls.couponStartDate.errors">
                <div class="text-danger" *ngIf="addCouponForm.controls.couponStartDate.errors.required" style="margin-left: 5%;">
                    <h6 style="margin-left: 5%;margin-top: 1%;">Please Enter the Start date..!</h6>
                </div>
            </div>
            <div *ngIf="invalidStartDate" class="text-danger">
                <h6 style="margin-left: 5%;margin-top: 1%;">Invalid Start Date(must be greater than current date)!</h6>
            </div>
            <br>
            <div class="inputField">
                <span><img src="./../../../assets/dateto.png"  width=50 />End Date</span>
                <input type="datetime-local" class="categoryInput" formControlName="couponEndDate" placeholder="End Date"> 
            </div>
            <div *ngIf="submitted && addCouponForm.controls.couponEndDate.errors">
                <div class="text-danger" *ngIf="addCouponForm.controls.couponEndDate.errors.required" style="margin-left: 5%;">
                    <h6 style="margin-left: 5%;margin-top: 1%;">Please Enter the end date ..!</h6>
                </div>
            </div>
            <div *ngIf="invalidEndDate" class="text-danger">
                <h6 style="margin-left: 5%;margin-top: 1%;">End Date must be greater than Start date...</h6>
            </div>
            <button class="btn btn-warning" style="margin-left:60%;width:20%;margin-top: -10%;" (click)="proceed4()">Continue to Next Step</button>
    </div>

    <div *ngIf="value==4">
        <h5><b>Review and Submit</b></h5>
        <hr>
        <table cellpadding="8">
            <tr>
                <th>Coupon title</th>
                <td>{{couponName}}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{CouponDesc}}</td>
            </tr>
            <tr>
                <th>Discount amount</th>
                <td>{{CouponAmount}}</td>
            </tr>
            <tr>
                <th>Minimum Order amount &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <td>{{MinOrderAmount}}</td>
            </tr>
            <tr>
                <th>Start Date</th>
                <td>{{CouponStartDate}}</td>
            </tr>
            <tr>
                <th>End Date</th>
                <td>{{CouponEndDate}}</td>
            </tr>
            <tr>
                <th>Generated by</th>
                <td>Merchant</td>
            </tr>
        </table>
            <button class="btn btn-success" style="width:15%;margin-left: 14%;" (click)="addCoupon()">Submit Coupon</button>
    </div>
</form> 
</div>