<div class="container" style="margin-top: 3%;">
    <div>
        <h3 style="margin-bottom:2%"> Create a new Category</h3>
        <form [formGroup]="addCategoryForm">
            <div class="inputField">
                <span><img src="./../../../assets/categoryIcon.png"  width=50 /></span>
                <input type="text" class="categoryInput" formControlName="name" placeholder="Enter Category">
            </div>
            <div *ngIf="submitted && addCategoryForm.controls.name.errors">
                <div class="text-danger" *ngIf="addCategoryForm.controls.name.errors.required" style="margin-left: 5%;">
                    <h4 style="margin-left: 5%;margin-top: 1%;">Please Enter the Category ..!</h4>
                </div>
            </div>
            <button class="btn btn-success" style="margin-left:20%;width:10%;margin-top:2%" (click)="addCategory()">Add</button>
        </form>
    </div>
    <hr>
    <div>
        <table class="table table-striped table-responsive table-hover text-bold">
            <thead style="background-color: #807191;">
                <tr>
                    <th>Category Id</th>
                    <th>Category Name</th>
                    <th>Edit</th>
                    <th>Sub Category</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categories">
                    <td>{{category.id}}</td>
                    <td>{{category.name}}</td>
                    <td><button type="button" class="btn btn-outline-primary" data-toggle="modal" (click)=editButton(category.name,category.id) data-target="#exampleModal">Edit</button>
                    </td>
                    <td><button type="button" class="btn btn-primary" data-toggle="modal" (click)=changeCategoryName(category.name) data-target="#exampleModalCenter" (click)="getSubCategory(category.id)">
                        View Sub Category
                      </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Update Category</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="updateCategoryForm">
                            <div class="row">
                                <div><input type="number" class="idInput" formControlName="id"></div>
                                <div class="inputField">
                                    <span><img src="./../../../assets/categoryIcon.png"  width=50 /></span>
                                    <input type="text" class="categoryInput" formControlName="name" placeholder="Enter Category">
                                </div>

                            </div>
                            <div *ngIf="submitted2 && updateCategoryForm.controls.name.errors">
                                <div class="text-danger" *ngIf="updateCategoryForm.controls.name.errors.required" style="margin-left: 5%;">
                                    <h4 style="margin-left: 5%;margin-top: 1%;">Please Enter the Category ..!</h4>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal" (click)=updateCategory() data-target="#exampleModal">Update</button>

                    </div>
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">{{categoryName}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped table-responsive table-hover text-bold">
                            <thead style="background-color: #807191;">
                                <tr>
                                    <th>Category Id</th>
                                    <th>Category Name</th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let subCategory of subCategories">
                                    <td>{{subCategory.id}}</td>
                                    <td>{{subCategory.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="margin-left:5%">
                        <form [formGroup]="addSubCategoryForm">
                            <div class="inputField">
                                <span><img src="./../../../assets/categoryIcon.png"  width=50 /></span>
                                <input type="text" class="categoryInput" formControlName="name" placeholder="Enter Category">
                            </div>
                            <div *ngIf="submitted3 && addSubCategoryForm.controls.name.errors">
                                <div class="text-danger" *ngIf="addSubCategoryForm.controls.name.errors.required">
                                    <h4 style="margin-left: 5%;margin-top: 1%;">Please Enter the Sub Category ..!</h4>
                                </div>
                            </div>
                            <button class="btn btn-success" style="width:30%;margin-top:2% ;margin-left:50%;margin-bottom:2%" (click)="addSubCategory()">Add</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>